<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
    <header class="header">
      <nav class="navbar">
          <a href="{{url_for('homee')}}">Home</a>
          <a href="{{url_for('database')}}">Sources</a>
          <a href="{{url_for('scrap')}}">Create Tier List</a>
          <a href="{{url_for('logout')}}">Log out</a>
      </nav>

      <div>
          <center> <img align="center" src="static\profile3.png" width="30" height="30" ></center>
                 <FONT COLOR="#FFFFFF"><h3  class="mt-2 mb-0">{{session['logmail']}}</h3></FONT>
              </div>

    </header>
            <font color="#FFFFFF"><h1 ALIGN="center" >Game Tier List</h1></font>

    <div class="overlay hidden"></div>
    <div class="add-div hidden">
      <p class="warning"></p>
    </div>
     <div class="text-center">
</div>
<br>
    <table class="table">
			<tr>
				<th>Title</th>
				<th></th>
				<th>Info</th>
			</tr>
			{% for game in games %}
			<tr>
				<th>{{ game.Title }}</th>
				<th>{{ games.Ranking }}</th>
				<th>${{ game.Info }}</th>
			</tr>
			{% endfor %}
		</table>




   <script src="{{ url_for('static', filename='list.js') }}"></script>
</body>
</html>